@import 'blocks/promo';
@import 'blocks/navbar';
@import 'blocks/slider';
@import 'blocks/steps';
@import 'blocks/actions';
@import 'base/modify';
@import 'blocks/buttons';
@import 'blocks/pmethods';
@import 'blocks/applications';
@import 'blocks/advantages';
@import 'blocks/accordion';
@import 'blocks/app-descr';
@import 'blocks/footer';



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    box-sizing:border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}


