@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import 'blocks/promo';
@import 'blocks/navbar';
@import 'blocks/slider';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    box-sizing:border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

