@import 'blocks/promo';
@import 'blocks/navbar';
@import 'blocks/slider';
@import 'blocks/steps';
@import 'blocks/actions';
@import 'base/modify';
@import 'blocks/buttons';
@import 'blocks/pmethods';
@import 'blocks/applications';
@import 'blocks/advantages';
@import 'blocks/accordion';
@import 'blocks/app-descr';
@import 'blocks/footer';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


//Media 
@media (min-width: 1260px) and (max-width: 1360px) {
    .actions {
        &__item-3 {
            img {
                max-width: 280px;
            }
        }
        &__item-4 {
            margin-left: 35px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1360px) {
    .container {
        max-width: 960px;
    }
    .pmethods {
        &__item-bg {
            height: 330px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .promo {
        .container {
            max-width: 900px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .steps {
        .container {
            max-width: 900px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .actions {
        &__items-block-1 {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-auto-rows: minmax(0, auto);
            grid-template-areas: 
            ". . a a a . ."
            ". c c d d d ."
            ". . . b . . .";
        }
        &__descr {
            text-align: center;
            width: 458px;
        }
        &__img {
            img {
                max-width: 221px;
            }
        }
        &__item-1 {
            max-width: 458px;
        }
        &__item-2 {
            margin-top: 24px;
        }
        &__item-4 {
            margin-left: 35px;
        }
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 775px;
    }
    .actions {
        &__items-block-1 {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-auto-rows: minmax(0, auto);
            grid-template-areas: 
            ". . a a a a ."
            ". c c d d d ."
            ". . . b . . .";
        }
        &__descr {
            text-align: center;
            width: 458px;
        }
        &__img {
            img {
                max-width: 221px;
            }
        }
        &__item-1 {
            max-width: 458px;
        }
        &__item-2 {
            margin-top: 24px;
        }
    }

    .pmethods {
        .container {
            max-width: 696px;
        }
        &__item {

        }
        &__item-bg {
            height: 221px;
        }
        .pmethods__img-size-1 {
            display: block;
            width: 221px;
        }
        .pmethods__img-size-2 {
            display: block;
            width: 125px;
        }
        .pmethods__img-size-3 {
            display: block;
            width: 125px;
        }
    }

    .advantages {
        .container {
            max-width: 696px;
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__content {
            margin: 0 auto;
            text-align: center;
            max-width: 442px;
        }
        &__descr {
            display: block;
        }
        &__first-block {
            max-width: 696px;
            display: flex;
            justify-content: space-between;
        }
        &__second-block {
            max-width: 696px;
            display: flex;
            justify-content: space-between;
        }
        &__img {
            margin: 40px 40px 0 40px
        }
    }

    .accordion {
        &__items {
            max-width: 696px;
        }
        &__item {
            max-width: 458px;
            margin: 0 auto;
        }
        &__content {
            display: none;
        }
        &__input:checked ~ &__content {
            display: block;
            transition: .5s all;
        }
        &__bg-1 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
        &__bg-2 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
        &__bg-3 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 696px;
    }
    .navbar {
        &__link_last {
            padding: 0;
            margin: 0;
            background-color: #CBE6FF;
            div {
                display: block;
                background-color: #ffffff;
                padding: 16px 32px;
                border-radius: 50px;
            }
            img {
                display: none;
            }
        }
    }
    .actions__items-block-1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
                "a a a"
                "c d d"
                "b b b";

    }
    .actions__item-1 {
        margin-right: 0;
    }
    .actions__item-4 {
        margin-left: 12px
    }
    .accordion {
        &__items {
            max-width: 696px;
        }
        &__item {
            max-width: 458px;
            margin: 0 auto;
        }
        &__content {
            display: none;
        }
        &__input:checked ~ &__content {
            display: block;
            transition: .5s all;
        }
        &__bg-1 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
        &__bg-2 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
        &__bg-3 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
    }
}


/*
|--------------------------------------------------------------------------
| burger
|--------------------------------------------------------------------------
*/

.burger {
    -webkit-transition: all 0.2s ease-out;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    position: relative;
    outline: 0;
    border-radius: 4px;
    background: transparent;
    margin-left: -20px;
    margin-right: 10px;

    @media (min-width: 992px) {
        display: none;
    }

    &[aria-expanded="true"] {

        .burger__item {
            height: 0;

            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
                top: 50%;
                left: 50%;
            }

            &:after {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 50%;
                left: 50%;
            }
        }
    }

    &__item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 22px;
        height: 2.6px;
        background: #0075E3;
        border-radius: 4px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 22px;
            height: 2.6px;
            background: #0075E3;
            -webkit-transition: all 0.2s ease-out;
            border-radius: 4px;
        }

        &:before {
            top: -8px;
        }

        &:after {
            top: 8px;
        }
    }
}

.mob-menu {
    width: 280px;
    font-family: 'Gilroy';
    transform: translateX(-280px);
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 999;
    visibility: hidden;
    height: 100%;
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.9);
    transition: all .5s;

    &__wrapper {
        overflow: auto;
        height: 100vh;
        padding: 20px 20px 25px;
        //border-right: 1px solid #EDEDED;
        position: relative;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: #e4e8f5;
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b0bec5;
            border-radius: 3px;
            width: 2px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #5c5c5c;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        padding-top: 1rem;
    }

    &__link {
        font-size: 21px;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        position: relative;
        display: block;
        text-align: left;
        margin-top: 20px;
        appearance: none;
        width: 100%;

        &:hover,
        &:focus {
            color: #0075E3
        }
    }

    &__contacts {
        padding-top: 2rem;
        margin-top: auto;
    }

    &__contactsItem {
        display: grid;
        justify-content: end;
        align-items: center;
        gap: 12px;
        grid-template-columns: fit-content(36px) 1fr;
        padding-top: 1.1rem;
    }

    &__contactsIcon {
        width: 36px;
        height: 36px;
        flex: 0 0 36px;
        max-width: 36px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contactsSvg {
        color: #0075E3;
    }

    &__contactsTitle {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        color: #000;
        text-decoration: none;
    }

    &__contactsText {
        font-size: 14px;
        max-width: 180px;
        font-weight: normal;
        line-height: 1.2;
        color: #888;
        text-decoration: none;
    }

    &__contactsPhone {
        font-size: 16px;
        font-weight: 700;
        color: #000;

        &:hover,
        &:focus {
            color: #0075E3;
        }
    }

    &__contactsLink {
        font-size: 14px;
        font-weight: 600;
        color: #0075E3;
        display: inline-block;

        &:hover,
        &:focus {
            color: #0075E3;
        }
    }

    &__social {
        margin-top: 2rem;
    }
}

.mob-menu--open {
    overflow: hidden;

    .mob-menu {
        transform: translateX(0);
        visibility: visible;
    }
}

@media (max-width: 575px) {
    .navbar {
        &__link_last {
            display: none;
        }
        &__logo {
            width: 100%;
            display: flex;
            justify-content: center;
            img {
                width: 170px;
            }
        }
        &__right {
            display: none;
        }
    }
    .actions {
        &__item-3 {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }
    }
    .app-descr {
        padding: 104px 0;
    }
    .carousel {
        padding-bottom: 0;
        &__slide-wrapper {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .footer {
        &__logo {
            img {
                width: 170px;
            }
        }
        &__logo-text {
            padding-top: 30px;
        }
    }
}

