@import 'blocks/promo';
@import 'blocks/navbar';
@import 'blocks/slider';
@import 'blocks/steps';
@import 'blocks/actions';
@import 'base/modify';
@import 'blocks/buttons';
@import 'blocks/pmethods';
@import 'blocks/applications';
@import 'blocks/advantages';
@import 'blocks/accordion';
@import 'blocks/app-descr';
@import 'blocks/footer';



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    box-sizing:border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}


//Media 
@media (min-width: 1260px) and (max-width: 1360px) {
    .actions {
        &__item-3 {
            img {
                max-width: 280px;
            }
        }
        &__item-4 {
            margin-left: 35px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1360px) {
    .container {
        max-width: 960px;
    }
    .pmethods {
        &__item {
            max-width: 300px;
        }
        &__item-bg {
            max-width: 300px;
            height: 330px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .promo {
        .container {
            max-width: 900px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .steps {
        .container {
            max-width: 900px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .actions {
        &__items-block-1 {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-auto-rows: minmax(0, auto);
            grid-template-areas: 
            ". . a a a . ."
            ". c c d d d ."
            ". . . b . . .";
        }
        &__descr {
            text-align: center;
            width: 458px;
        }
        &__img {
            img {
                max-width: 221px;
            }
        }
        &__item-1 {
            max-width: 458px;
        }
        &__item-2 {
            margin-top: 24px;
        }
        &__item-4 {
            margin-left: 35px;
        }
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 775px;
    }
    .actions {
        &__items-block-1 {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-auto-rows: minmax(0, auto);
            grid-template-areas: 
            ". . a a a a ."
            ". c c d d d ."
            ". . . b . . .";
        }
        &__descr {
            text-align: center;
            width: 458px;
        }
        &__img {
            img {
                max-width: 221px;
            }
        }
        &__item-1 {
            max-width: 458px;
        }
        &__item-2 {
            margin-top: 24px;
        }
    }

    .pmethods {
        .container {
            max-width: 696px;
        }
        &__item {
            max-width: 221px;
        }
        &__item-bg {
            max-width: 221px;
            height: 221px;
        }
        .pmethods__img-size-1 {
            display: block;
            width: 221px;
        }
        .pmethods__img-size-2 {
            display: block;
            width: 125px;
        }
        .pmethods__img-size-3 {
            display: block;
            width: 125px;
        }
    }

    .advantages {
        .container {
            max-width: 696px;
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__content {
            margin: 0 auto;
            text-align: center;
            max-width: 442px;
        }
        &__descr {
            display: block;
        }
        &__first-block {
            max-width: 696px;
            display: flex;
            justify-content: space-between;
        }
        &__second-block {
            max-width: 696px;
            display: flex;
            justify-content: space-between;
        }
        &__img {
            margin: 40px 40px 0 40px
        }
    }

    .accordion {
        &__items {
            max-width: 696px;
        }
        &__item {
            max-width: 458px;
            margin: 0 auto;
        }
        &__content {
            display: none;
        }
        &__input:checked ~ &__content {
            display: block;
            transition: .5s all;
        }
        &__bg-1 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
        &__bg-2 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
        &__bg-3 {
            position: relative;
            display: flex;
            justify-content: center;
            transform: translateX(0);
            img {
                max-width: 458px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 696px;
    }
    
    .navbar__items {
        position: fixed;
        top: 0;
        left: -100%;
        width: 305px;
        height: 1132px;
        padding: 20px 16px;
        flex-direction: column;
        background-color: #fff;
        align-items: baseline;
        z-index: 2;
        transition: .6s;
        .navbar__item {
            padding: 0;
            border: none;
        }
        .navbar__link {
            font-size: 22px;
        }
    }
    .navbar__items_active {
        left: 0;
    }
    .hamburger-logo-close-btn {
        display: block;
    }
    .hamburger {
        display: block;
    }
    
    
}
