nav {
    display: flex;
    justify-content: space-between;
}
.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 92px;
    background-color: #CBE6FF;
    padding: 26px 0;
    &__items {
        display: flex;
        align-items: center;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    &__hamburger-logo-close-btn {
        display: none;
    }
    &__item {
        display: block;
        margin: 0 16px;
    }
    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #000A22;
        &_last {
            display: block;
            color:#0075E3;
            background-color: #ffffff;
            padding: 16px 32px;
            line-height: 11px;
            height: 40px;
            cursor: pointer;
            margin: 0 0 0 19px;
            border-radius: 50px;
            border: none;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
        }
    }
}