.promo {
    background: url(../img/promo_bg.png) center center/cover no-repeat;
    min-height: 865px;
    max-width: 100%;
    &__wrapper {
        position: relative;
    }
    &__title {
        display: flex;
        font-weight: 700;
        font-size: 48px;
        position: relative;
        max-width: 898px;
        text-align: center;
        margin: 0 auto;
        padding: 24px 0 0 0;
        line-height: 64px;
        h2 {
            font-family: 'Gilroy', sans-serif;
            text-align: center;
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 32px;
        }
        span {
            text-decoration: underline;
            text-decoration-color: #ECB950;
        }
    }
    &__btn-wrapper {
        margin-right: 10px;
    }
    &__btn{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        width: 244px;
        height: 48px;
        background-color: #0075E3;
        border-radius: 50px;
        margin: 0 auto;
    }
    &__link {
        font-family: 'Gilroy', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
    }
    //Promo__images style
    &__images-block {
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    &__img-man {
        position: absolute;
        z-index: 1;
        bottom: -4px;
    }
}