.carousel {
    padding-top: 44px;
    &__inner {
        margin: 0 auto;
    }
    &__slide-wrapper {
        display: flex !important;
        align-items: center;
        justify-content: space-around;
    }
    &__content {
        max-width: 411px;
        padding-right: 50px;
    }
    &__slide-title {
        font-family: 'Gilroy', sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #000A22;
    }
    &__slide-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000A22;
        margin-top: 16px;
    }
    &__btn {
        width: 150px;
        padding: 16px 32px;
        background: #0075E3;
        border-radius: 50px;
        text-align: center;
        margin-top: 32px;
        a {
            color: #FFFFFF;
            text-decoration: none;
            padding: 16px 0;
        }
    }
    
    &__slide-content {
        text-align: center;
    }
    &__sec-bg {
        background-color:#FFFFFF;
    }
    
    .prev {
        display: none;
    }
    
    .slick-next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        
    }
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    font-size:0;
    padding:0;
    position: absolute;
    bottom: 50px;
    right: 36%;
    li {
        margin: 0 4px;
        border-radius: 0px;
        button {
            width: 32px;
            height: 4px;
        }
        
    }
    // li:nth-child(1) {
    //     width:8px;
    //     height:8px;
    //     padding-right: 4px;
    // }
    // li:nth-child(2) {
    //     padding: 0 4px;
    // } 

}