.carousel {
    background-color: #F9F9F9;
    padding-top: 44px;
    max-width: 1054px;
    &__btn {
        width: 150px;
        padding: 16px 32px;
        background: #0075E3;
        border-radius: 50px;
        text-align: center;
        margin: 32px auto 0 auto;
        a {
            color: #FFFFFF;
            text-decoration: none;
            padding: 16px 0;
        }
    }
    
    &__slide-content {
        text-align: center;
    }
    
    .prev {
        display: none;
    }
    
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        right: 0;
        background: inherit;
    }
}
