/* @font-face {
    font-family: 'Montseratt', sans-serif;
    src: local('Montseratt-Light');
    src: url(../fonts/Montserrat-Light.eot);
    src: url(../fonts/Montserrat-Light.ttf);
    src: url(../fonts/Montserrat-Light.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montseratt', sans-serif;
    src: local('Montseratt-Regular');
    src: url(../fonts/Montserrat-Regular.eot);
    src: url(../fonts/Montserrat-Regular.ttf);
    src: url(../fonts/Montserrat-Regular.woff);
    font-weight: 500;
    font-style: normal;
} */